@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, sans-serif;
}

body {
  background-color: #0c0e19;
}

a {
  text-decoration: none;
}

#user-info-form {
  position: absolute;
  max-width: 600px;
  height: 500px;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#user-info-form form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.input-container {
}

.input-container input,
.input-container select {
  width: 250px;
  font-size: 14px;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #0c0e19;
  outline: none;
}

.radio-input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 300px;
}

.radio-input-container {
  border: 1px solid #0c0e19;
  width: 120px;
  position: relative;
  border-radius: 10px;
}

.radio-input-container input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input:checked + .radio-title {
  background: hsla(225, 100%, 15%, 0.22);
}

.radio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  border-radius: 10px;
}

.radio-title img {
  width: 70px;
  height: 70px;
}

.radio-title label {
  font-size: 14px;
  font-weight: 500;
}

#confirm-btn {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #0c0e19;
  color: #fff;
  font-weight: 500;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.panel-container {
  width: 250px;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 180px;
}

.fa-angles-left {
  position: absolute;
  color: #c7cbd8;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profile-section img {
  width: 100%;
}

.divisor-aside {
  margin-top: 10px;
  height: 1px;
  background: #c7cbd855;
}

.profile-user {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

#pic-profile-user {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

#welcome-container {
  color: #c7cbd8;
  padding-left: 10px;
  font-weight: 500;
}

.options-section {
  display: flex;
  margin-top: 50px;
}

.options-nav {
  color: #c7cbd8;
  list-style: none;
  width: 100%;
}

.option {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}

.option p {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.option:hover {
  background-color: hsla(228, 95%, 83%, 0.43);
  border-radius: 5px;
}

.page-container {
  display: block;
  padding-left: 0;
  width: 100%;
  height: 100vh;
  background: #e6e8f0;
}

.inicio-container-page {
  background: #e6e8f0;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.container-carousel {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.carruseles {
  width: 300%;
  height: 100%;
  display: flex;
}

.slider-section {
  width: calc(100% / 3);
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff81;
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #333333d4;
  color: #fff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

.cursos-container {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.cursos-disponibles-container {
  width: 865px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cursos-disponibles-container h2 {
  color: #1c2035;
  width: 100%;
}

.curso {
  width: 275px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /*padding: 15px;*/
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.curso:hover img {
  scale: 1.03;
  transition: all 0.2s ease-in-out;
}

.curso img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  height: 155px;
  transition: all 0.2s ease-in-out;
}

.curso-info {
  margin-top: 10px;
  color: #1c2035;
}

.curso-info p:first-child {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
}

.curso-info p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
}

.curso-clasificacion {
  display: flex;
  gap: 5px;
}

.Principiante,
.Intermedio,
.Avanzado,
.objetivo {
  font-size: 10px;
  font-weight: 500;
  padding: 0.3em 0.5em;
  width: fit-content;
  border-radius: 5px;
  color: white;
}

.Principiante {
  background: rgb(8, 168, 8);
}

.Avanzado {
  background: red;
}

.Intermedio{
  background: rgb(245, 219, 22);
}

.objetivo {
  background: #1c2035;
}

.plan12-videos {
  padding: 25px;
}

#clases-container {
  display: none;
  position: relative;
}

#clases-container .inicio-container-page > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#clases-container .inicio-container-page > p {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 5vw;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.clase{
  display: flex;
}

.clase video{
  width: 300px;
  height: 150px;
  object-fit: fill;
}

#nutricion-container {
  display: none;
}

#nutricion-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#nutricion-container .inicio-container-page > div {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
  font-size: 14px;
}

#nutricion-container .inicio-container-page > div ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#nutricion-titulo{
  position: absolute;
  top: 40px;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #fff;
  text-shadow: #5d5d5d 1px 0 10px;
}

.lista-nutricion li {
  display: flex;
  gap: 15px;
  align-items: center;
}

.lista-nutricion p{
  max-width: 500px;
  
}

.lista-nutricion li img {
  min-width: 300px;
  max-height: 150px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#opciones-container{
  display: none;
}

.input-options{
  display: flex;
  flex-direction: column;
}

@media (min-width: 1700px) {
  .cursos-disponibles-container {
    width: 1200px;
    justify-content: start;
  }
}

@media (max-width: 1300px) {
  .cursos-disponibles-container {
    width: fit-content;
    justify-content: center;
  }
}

.slides {
  height: 50vh;
  width: 95%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  border: 4px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.slide {
  position: absolute;
  height: 100%;
  opacity: 0;
  inset: 0;
  animation: slide-show 12s infinite;
}

.slide-2 {
  animation-delay: 4s;
}

.slide-3 {
  animation-delay: 8s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slide-show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20%,
  30% {
    opacity: 1;
    scale: 1.03;
  }
  50% {
    opacity: 0;
  }
}